<!DOCTYPE html>
<html>
    <head>
        <title>Death!</title>
        <meta charset = "utf-8">
        <link href = "/static/styles/deathScreen.css" rel = "stylesheet">
    </head>
    <body>
        <h1 id = "death_message">You died!</h1>
        <h2 id = "rank_message">Rank: 0th Place</h2>
        <table id = "results_table">
            <tr>
                <th>Kills: </th>
                <th>-1</th>
            </tr>
            <tr>
                <th>Damage Dealt:   </th>
                <th>    -1</th>
            </tr>
            <tr>
                <th>Damage Taken:   </th>
                <th>    -1</th>
            </tr>
            <tr>
                <th>Time Survived:  </th>
                <th>    -1:00</th>
            </tr>
        </table>
        
    </body>
</html>