<!DOCTYPE html>
<html>
    <head>
        
    </head>
    <body>
        <h1>You died!</h1>
        <h2>Rank: 0th Place</h2>
        <table>
            <tr>
                <th>Kills: </th>
                <th>-1</th>
            </tr>
            <tr>
                <th>Damage Dealt:</th>
                <th>-1</th>
            </tr>
            <tr>
                <th>Damage Taken:</th>
                <th>-1</th>
            </tr>
            <tr>
                <th>Time Survived:</th>
                <th>-1:00</th>
            </tr>
        </table>
        
    </body>
</html>