<!DOCTYPE HTML>
<html>
    <head>
        <title>Circle Strike: Globular Offensive</title>
        <meta charset = "utf-8">
        <link href = "/static/styles/style.css" rel = "stylesheet">
    </head>
    <body>
        <!-- Home -->
        <div class = "page start">
            <div style="text-align: center">
                <div id = "top_page_text">
                    <h1 id = "title">CIRCLE STRIKE:<br>GLOBULAR OFFENSIVE</h1>                    
                    <h6>((You're special, babe))</h6>
                </div>
            </div>
            <div>
                <img src="\static\img\heartBerd.png" id = "bird_pic" width=200 height=200 >
                <div>
                    <form id = "join-form">
                        <input autofocus id = "username" placeholder = "Enter your name">
                        <button>play</button>
                    </form>
                </div> 
            </div>  
        </div> 
        <!-- game -->
        <div class = "page">
            <canvas id = "game"></canvas>
            <div id = "game-info">
                <center>
                    <span id = "map-name">Forest</span> - <span id = "game-mode">Deathmath</span>
                </center>
                <table id = "ranks" cellpadding = "8"></table>
            </div>
        </div>
        <!-- death screen -->
        <div class = "page" id = "death_screen">
            <h1 id = "death_message">You died!</h1>
            <h2 id = "rank_message">Rank: 0th Place</h2>
            <table id = "results_table">
                <tr>
                    <th>Kills: </th>
                    <th id = "kill_count">-1</th>
                </tr>
                <tr>
                    <th>Damage Dealt:   </th>
                    <th id = "damage_dealt">    -1</th>
                </tr>
                <tr>
                    <th>Damage Taken:   </th>
                    <th id = "damage_taken">    -1</th>
                </tr>
                <tr>
                    <th>Time Survived:  </th>
                    <th id="time_alive">    -1:00</th>
                </tr>
            </table>
            <button id = "respawn-button">Respawn</button>
        </div>
        <script src = "/socket.io/socket.io.js"></script>
        <script src = "/static/js/bundle.js"></script>
    </body>
</html>