<!DOCTYPE HTML>
<html>
    <head>
        <title>Circle Strike: Globular Offensive</title>
        <meta charset = "utf-8">
        <link href = "/static/styles/style.css" rel = "stylesheet">
    </head>
    <body>
        <!-- Home -->
        <div class = "page start">
            <div style="text-align: center">
                <div id = "top_page_text">
                    <h1 id = "title">CIRCLE STRIKE:<br>GLOBULAR OFFENSIVE</h1>                    
                    <h6>((You're special, babe))</h6>
                </div>
            </div>
            <div>
                <img src="\static\img\heartBerd.png" id = "bird_pic" width=200 height=200 >
                <div>
                    <form id = "join-form">
                        <input autofocus id = "username" placeholder = "Enter your name">
                        <button>play</button>
                    </form>
                </div> 
            </div>  
        </div> 
        <!-- game -->
        <div class = "page" id = "game-page">
            <canvas id = "game"></canvas>
            <div id = "game-info" style = "pointer-events: none">
                <center>
                    <span id = "map-name">Forest</span> - <span id = "game-mode">Deathmatch</span>
                </center>
                <table id = "ranks" cellpadding = "8"></table>
                <center>
                    Time remaining: <span id = "time-remaining"></span>
                </center>
            </div>
            <!-- ammo indicator -->
            <div style = "position:fixed; left: 50%; bottom: 88px; transform: translateX(-50%); text-align: center; font-size: 24px; pointer-events: none">
                <img src = "/static/img/bullet.png" id = "bullet-sprite" style = "height: 24px;position:relative;top:2px;"> <span id = "ammo-amount" style = "line-height: 24px">30</span>
            </div>
            <!-- message -->
            <div style = "position: fixed; top: 40%; left: 50%; transform: translate(-50%, -50%); font-size: 18px; display: none; pointer-events: none" id = "message">
                reloading...
            </div>
        </div>
        <!-- death screen -->
        <div class = "page" id = "death_screen">
            <h1 id = "death_message">You died!</h1>
            <h2 id = "rank_message">Rank: 0th Place</h2>
            <table id = "results_table">
                <tr>
                    <th>Kills: </th>
                    <th>-1</th>
                </tr>
                <tr>
                    <th>Damage Dealt:   </th>
                    <th>    -1</th>
                </tr>
                <tr>
                    <th>Damage Taken:   </th>
                    <th>    -1</th>
                </tr>
                <tr>
                    <th>Time Survived:  </th>
                    <th>    -1:00</th>
                </tr>
            </table>
            <button id = "respawn-button">Respawn</button>
        </div>
        <script src = "/socket.io/socket.io.js"></script>
        <script src = "/static/js/bundle.js"></script>
    </body>
</html>