<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="\static\styles\style.css">
        <title>Sneksmash 2</title>
    </head>
    <body>
        <div style="text-align: center">
            <div id = "top_page_text">
                <h1 id = "title" style = "font-size: 100px">SNEKSMASH 2</h1>                    
                <h2>(PREMIUM Login page ;) )</h2>
                <h6>((You're special, babe))</h6>
            </div>
        </div>
        <div>
            <img src="\static\img\heartBerd.png" id = "bird_pic" width=200 height=200 >
            <div class = "name_entry">
                <form></form>
                <button id = "login_button">LOGIN</button>
            </div>    
        </div>    
    </body>
</html> 