<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="\static\styles\style.css">
        <title>Sneksmash 2</title>
    </head>
    <body>
        <div>
            <h1 id = "title">SNEKSMASH 2</h1>
            <img src="\static\img\berd.jpg" id = "bird_pic" width=200 height=200 >
            <button id = "login_button">LOGIN</button>
        </div>
    </body>
</html> 