<!DOCTYPE HTML>
<html>
    <head>
        <title>SnekSmash 2</title>
        <meta charset = "utf-8">
        <link href = "/static/style.css" rel = "stylesheet">
    </head>
    <body>
            <canvas id = "game"></canvas>
        <script src = "/static/js/script.js"></script>
    </body>
</html>