body {
    background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet); 
    font-family: "Comic Sans MS", cursive, sans-serif;
}


#top_page_text{
    text-align: center;
}

.name_entry{
    text-align: center;
    padding-top: 50px;
}

#bird_pic{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
