body {
    background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet); 
    font-family: "Comic Sans MS", cursive, sans-serif;
}

#title{
    margin-bottom: 0;
}

#top_page_text{
    text-align: center;
}

#bird_pic{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#join-form{
    padding-top: 30px;
    text-align: center;
}
